html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
header {
  background: linear-gradient(to right top, rgb(31, 136, 134), rgb(0, 83, 128));
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 28px;
}
.burger {
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 1px;
  margin: 7px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease;
}
.drop {
  width: 12vw;
  height: 90vh;
  position: absolute;
  top: 10vh;
  right: 0;
  background: linear-gradient(to bottom, rgb(31, 136, 134), rgb(0, 83, 128));
  transform: translateX(100%);
  transition: transform 0.7s ease;
  z-index: 3;
}
.drop-social img,
.drop-info img,
.drop-menu img {
  display: block;
  width: 35px;
  margin: 10px auto;
  cursor: pointer;
  opacity: 0;
}

.drop-social {
  width: 100%;
  position: absolute;
  top: 20%;
  text-align: center;
}
.drop-info {
  width: 100%;
  position: absolute;
  bottom: 20%;
  text-align: center;
  transform: translateY(-50%);
}
.drop-menu {
  width: 100%;
  position: absolute;
  transform: translateY(50%);
}
.drop-slide {
  transform: translateX(0%);
}
.cancel .line1 {
  transform: rotate(45deg) translate(5px, 6px);
}
.cancel .line2 {
  opacity: 0;
}
.cancel .line3 {
  transform: rotate(-45deg) translate(5px, -6px);
}
.nav-links {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50%;
  position: absolute;
  right: 10vw;
  top: 10vh;
  background: linear-gradient(to right top, rgb(31, 136, 134), rgb(0, 83, 128));
  transform: translateX(130%);
  border-radius: 5px;
  transition: transform 1s ease;
  z-index: 3;
}
.nav-links li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.nav-links li:hover {
  background: rgb(0, 119, 128);
  border-radius: 10px;
}
.nav-links a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-bar {
  transform: translateX(0%);
}
.menu-fade {
  transform: translateX(130%);
}
p {
  font-size: 20px;
}
ul {
  list-style: none;
  padding: 0 5px;
}
.wrap {
  font-weight: normal;
  color: #343434;
}
.main {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: 250px;
  grid-row-gap: 50px;
}
.content {
  background: white;
  color: rgb(51, 51, 51);
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  max-width: 350px;
  margin: auto;
  box-shadow: 6px 6px 6px rgba(122, 122, 122, 0.5);
}
code {
  margin: 10px 0;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}
.note {
  background: linear-gradient(to right, rgb(31, 136, 134), rgb(0, 83, 128));
  color: white;
  padding: 10px 0;
  position: relative;
  bottom: 0px;
  position: relative;
  z-index: 2;
}
.fadeOut {
  display: none;
  pointer-events: none;
}
.fadeIn {
  display: block;
  pointer-events: all;
}
@media (max-width: 510px) {
  .content {
    max-width: 300px;
  }
}

@media (min-width: 700px) {
  .content {
    width: 330px;
    height: 175px;
    overflow-y: scroll;
  }
  .note {
    display: none;
  }
  .drop,
  .drop-menu {
    display: none;
  }
  .logo {
    flex: 1;
  }
  nav {
    flex: 2;
    justify-content: flex-end;
  }
  .nav-links {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    position: static;
    background: transparent;
    transform: translateX(0%);
  }
  .nav-links a {
    color: rgba(255, 255, 255, 0.7);
  }
  .nav-links li {
    text-decoration: none;
    opacity: 1;
  }
  .nav-links li:hover {
    background: none;
    text-decoration: none;
  }
  .nav-links li:focus {
    outline: none;
  }
  .nav-links a:focus {
    padding: 10px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    text-decoration: none;
  }
  .burger {
    display: none;
  }
}
@media (min-width: 1100px) {
  body {
    background-image: url(./img/pexels-idea.jpg);
  }
}
